<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>localhost:8080/resources/view/test.html</title>
<script type="text/javascript" src="/resources/js/jquery/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/resources/js/jquery/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="/resources/js/common.js"></script>
<script type="text/javascript" src="/resources/js/view/user.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/css/normal.css">
</head>
<body>
	<input type="button" value="查询用户" id="selectUser"/>
	<input type="button" value="查询用户2" onclick="CommonObj.test();"/>
	<input type="button" value="添加用户" id="addUser"/>
	<input type="button" value="修改用户" id="updateUser"/>
	<input type="button" value="删除用户" id="deleteUser"/>
	<table border="1" class="dataTable">
		<thead>
			<tr id="tr_all">
				<th><input id="box_all" type="checkbox"/>全选</th>
				<th>id</th>
				<th>name</th>
				<th>sex</th>
				<th>age</th>
			</tr>
		</thead>
		<tbody id="content"></tbody>
	</table>
</body>
</html>